[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mutagen = "*"
pillow = "*"
ffmpeg-python = "*"

[dev-packages]
pylint = "*"
rope = "*"
pipenv-shebang = "*"

[requires]
python_version = "3.10"
